# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: "Soren Paetau"
email: paetausoren@gmail.com
description: "AI Solutions • Data • Portfolio"
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://sorenpaetau.com" # the base hostname & protocol for your site, e.g. http://example.com
github_username:  sorenpaetau

# Build settings
remote_theme: "mmistakes/minimal-mistakes"
minimal_mistakes_skin: "dark"
plugins:
  - jekyll-remote-theme
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-include-cache
# Collections
collections:
  projects:
    output: true
    permalink: /projects/:name/
# Defaults for collection pages
defaults:
  - scope: { path: "", type: "projects" }
    values:
      layout: single
      author_profile: false
      read_time: false
      share: false
      comments: false
# Navigation data file
include:
  - _pages
# Search
search: true
search_full_content: true

markdown: kramdown
kramdown:
  input: GFM
  math_engine: mathjax
  syntax_highlighter: rouge

permalink: pretty
paginate: 0


# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `